

.body {
  background-color: peachpuff
}

.header {
  text-decoration: underline;
}


 .headerFont{
  font-family: 'Gochi Hand', cursive;
  font-size: 1.5em;
  /* font-family: 'Just Me Again Down Here', cursive; */
  color: rgb(231, 179, 82);
 }

 #mainHeader {
   background-color: maroon;
 }

 #headerImage{
   width: 50%;
   height: auto;
 }

 #formH {
   color: yellow;
   font-size: 2em;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
   text-align: center;
 }

.container {
  width: 400px;
  margin: 0 auto;
  background-color: turquoise;
  
  padding: 20px;
  border-radius: 15px;
}

/* .container * {
  box-sizing: border-box;
  
} */

.container label {
  color: white;
}

.bookShelf {
  width: 50%;
  height: auto;
  
}

.bookShelfDiv h3 {
  color: white;
  text-decoration: underline;
  font-weight: bolder;
}

.bookShelfDiv {
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: rgb(250, 178, 107);
  border-radius: 20px;
  border: solid, yellow;
  color: yellow;
  font-weight: bold;
  padding: 15px;
}

.filterBar {
  text-align: center;
  margin: 15px;
  padding: 5px;
}

#filter {
  margin: 15px;
}


.bookListContainer {
  padding: 30px;
}

.delete {
padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
border:0.16em solid rgba(255,255,255,0);
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;
background-color:white;
width: 40%;
}

.delete:hover{
  border-color: black;
  background-color:#f14e4e;
  }

  .homePage {
    width: 75%;
    text-align: center;
  }

  