

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  padding: 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
  line-height: 1;
} */

.body {
  background-color: peachpuff
}

.header {
  text-decoration: underline;
}

#mainHeader {
  color:maroon;
  font-family: "times";
 }

 #mainHeader h1 {
  font-family: "impact";
  border-bottom: teal;
 }

 #formH {
   color: yellow;
   font-size: 2em;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
   text-align: center;
 }

.container {
  width: 400px;
  margin: 0 auto;
  background-color: turquoise;
  
  padding: 20px;
  border-radius: 15px;
}

/* .container * {
  box-sizing: border-box;
  
} */

.container label {
  color: white;
}

.bookShelf {
  width: 50%;
  height: auto;
  
}

.bookShelfDiv h3 {
  color: white;
  text-decoration: underline;
  font-weight: bolder;
}

.bookShelfDiv {
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: rgb(250, 178, 107);
  border-radius: 20px;
  border: solid, yellow;
  color: yellow;
  font-weight: bold;
  padding: 15px;
}

.filterBar {
  text-align: center;
  margin: 15px;
  padding: 5px;
}

#filter {
  margin: 15px;
}

.book {
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD9N2xlq_uDuERj6qJ5yCryByisuDle0el_Q&usqp=CAU"); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* transform: rotateX(50deg); */
  /* max-width: 100%;
  height: auto; */
  
  /* position: absolute;
  left: 300px */
}

.bookListContainer {
  padding: 30px;
}
